.tile {
    display: grid;
    place-content: center;
    width: 5rem;
    height: 5rem;
}

.green-tile {
    background-color: #779556;

}

.white-tile {
    background-color: #ebecd0;
}

.tile img {
    width: 4.5rem;
}

.chess-piece {
    width: 5rem;
    height: 5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4rem;
}

.tile .chess-piece:hover {
    cursor: grab;
}

.tile .chess-piece:active {
    cursor: grabbing;
}