#chessboard{
    display: grid;
    grid-template-columns: repeat(8, 5rem);
    grid-template-rows: repeat(8, 5rem);
    width: 40rem;
    height: 40rem;
    background: blue;
}

#chessboard .tile {
    width: 5rem;
    height: 5rem;
}

.tile-label {
    display: inline-block;
    text-align: center;
    height: 5rem;
    width: 5rem;
    padding: 0;
    padding-top: 10px;
    color: white;
    margin-right:0;
}



#chessboard .green-tile {
    background-color: #779556;

}

#chessboard .white-tile {
    background-color: #ebecd0;
}